1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "NrdyBhu1"
      VALUE "FileDescription", "My awesome C++ game"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "TicTacToe"
      VALUE "LegalCopyright", "NrdyBhu1"
      VALUE "OriginalFilename", "TicTacToe.exe"
      VALUE "ProductName", "Tic Tac Toe"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
MAINICON ICON "res/icon.ico"
